BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
ColumnLimit: 0
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
